<link rel="stylesheet" href="https://unpkg.com/bootstrap@5.3.3/dist/css/bootstrap.min.css">

<section class="bg-light py-3 py-md-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5 col-xxl-4">
        <div class="card border border-light-subtle rounded-3 shadow-sm">
          <div class="card-body p-3 p-md-4 p-xl-5">
            <div class="text-center mb-3">
              <a href="#!">
                <img src="https://th.bing.com/th/id/R.bd4c17304ddde501fa3f2d73749ba2c5?rik=rXd6ydolj3bDMw&riu=http%3a%2f%2fcfip2006.conf.citi.insa-lyon.fr%2fSponsors%2fLogo-esprit.gif&ehk=W9DrJgNcnhWSdRAAJDvAWRs1vjdNAJIHAXdcreixZDE%3d&risl=&pid=ImgRaw&r=0" alt="BootstrapBrain Logo" >
              </a>
            </div>
            <h2 class="fs-6 fw-normal text-center text-secondary mb-4">Provide the email address associated with your account to recover your password.</h2>
            <form action="#!">
              <div class="row gy-2 overflow-hidden">
                <div class="col-12">
                  <div class="form-floating">
                    <input type="email" class="form-control" name="email" id="email" placeholder="name@example.com" required>
                    <label for="email" class="form-label">Email</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-grid my-3">
                    <button class="btn btn-danger btn-lg" type="submit">Reset Password</button>
                  </div>
                </div>
                <div class="col-12">
                  <div class="d-flex gap-2 justify-content-between">
                    <a href="{{ path('app_utilisateur_login') }}" class="link-primary text-decoration-none" >Log In</a>
                    <a href="{{ path('app_utilisateur_new') }}" class="link-primary text-decoration-none">Register</a>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
