<form method="post" action="{{ path('app_compteur_delete', {'id': compteur.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compteur.id) }}">
    <button class="btn">Delete</button>
</form>
