<form method="post" action="{{ path('app_esp_saison_classe_delete', {'id': esp_saison_classe.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ esp_saison_classe.id) }}">
    <button class="btn btn-secondary">Supprimer</button>
</form>
