{% extends 'index.html.twig' %}

{% block body %}
 <style>
        h1 {
            text-align: center; /* Centrer le titre */
            color: #ff0000; /* Rouge */
            font-size: 24px;
            margin-bottom: 20px;
            font-family: 'Arial', sans-serif;
        }
    </style>
    <h1>Edit EspEnteteNote</h1>

    {{ include('esp_entete_note/_form.html.twig', {'button_label': 'Modifier '}) }}

    <a href="{{ path('app_esp_entete_note_index') }}">Retourner à la liste</a>

    {{ include('esp_entete_note/_delete_form.html.twig') }}
{% endblock %}
